{% extends 'layout/app.html' %}
{% block 'wrap' %}
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top m-b-none" role="navigation">
            <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i
                            class="fa fa-bars m-r-none"></i> </a>

            </div>
            <ul class="nav navbar-top-links navbar-right">

                <li class="dropdown hidden-xs">
                    <a class="right-sidebar-toggle" aria-expanded="false">
                        <i class="fa fa-tasks"></i> 个性
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row" id="content-main">
        <div class="main">
            {% include 'public/toast.html' %}
            {% include 'public/swal.html' %}
            {% block 'main' %}
            {% endblock %}
        </div>
    </div>
    <div class="footer">
        <div class="pull-right">&copy; 2017 Gerapy
        </div>
    </div>
</div>
{% endblock %}