{% extends 'layout/app.html' %}
{% block 'wrap' %}
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i
                            class="fa fa-bars m-r-none"></i> </a>

                <form role="search" class="navbar-form-custom" method="post" action="search_results.html">

                </form>
            </div>
            <ul class="nav navbar-top-links navbar-right">

                <li class="dropdown hidden-xs">
                    <a class="right-sidebar-toggle" aria-expanded="false">
                        <i class="fa fa-tasks"></i> 主题
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row J_mainContent" id="content-main">
        <div class="main">
            {% include 'public/toast.html' %}
            {% block 'main' %}
            {% endblock %}
        </div>
    </div>
    <div class="footer">
        <div class="pull-right">&copy; 2016 <a href="http://www.zi-han.net/" target="_blank">好玩表演</a>
        </div>
    </div>
</div>
{% endblock %}