{% extends 'public/wrap.html' %}

{% block 'main' %}
<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
        <div class="col-sm-3">
            {% include 'project/info.html' %}
            <div class="ibox" id="pack-box">
                <div class="ibox-title">
                    <h5>打包生成</h5>
                    <div class="ibox-tools">
                        <input type="button" class="btn btn-primary btn-xs" :value="button" @click="pack">
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-sm">
                                <p class="text-left">
                                    <i class="fa fa-cube"></i>
                                    当前包名称
                                </p>
                                <p>
                                    ${ name }
                                </p>
                                <p>
                                    <i class="fa fa-clock-o"></i>
                                    包版本
                                </p>
                                <p>
                                    ${ version }
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-9">
            <div class="ibox animate" id="deploy-box">
                <div class="ibox-title">
                    <h5>部署状态</h5>

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="project-list">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <th>主机状态</th>
                                        <th>主机名称</th>
                                        <th>主机IP</th>
                                        <th>包版本</th>
                                        <th class="text-right">操作</th>
                                    </tr>
                                    {% for client in clients %}
                                    <tr>
                                        <td class="project-status">
                                            <span class="label label-{{ client.status.class }}">
                                                {{ client.connection.text }}
                                            </span>
                                        </td>
                                        <td class="project-title">
                                            <small>
                                                {{ client.name }}
                                            </small>
                                        </td>
                                        <td class="project-completion">
                                            <small>
                                                {{ client.ip }}
                                            </small>
                                        </td>
                                        {% load version %}
                                        <td class="project-version">
                                            {{ client|version:project.name}}
                                        </td>
                                        <td class="project-actions">
                                            {% if client.connection.symbol %}
                                            {% if client.deployed %}
                                            <a data-url="{% url 'project_deploy' project.id client.id %}"
                                               class="btn btn-primary btn-xs re-deploy">
                                                <i class="fa fa-angle-double-right"></i>
                                                <span>重新部署</span>
                                            </a>
                                            {% else %}
                                            <a data-url="{% url 'project_deploy' project.id client.id %}"
                                               class="btn btn-primary btn-xs deploy"><i
                                                    class="fa fa-angle-double-right"></i> 部署 </a>
                                            {% endif %}
                                            {% else %}
                                            <a href="{% url 'client' client.id %}"
                                               class="btn btn-danger btn-xs"><i
                                                    class="fa fa-angle-double-right"></i> 检查 </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: '#pack-box',
        data: {
            url: '{% url "project_pack" project.id %}',
            name: '{{ egg.name }}' || '尚未打包, 点击生成egg',
            packed: '{{ egg.name }}' ? true : false,
            version: '{{ egg.version }}'
        },
        computed: {
            button(){
                return this.packed ? '重新打包' : '打包'
            }
        },
        delimiters: ['${', '}'],
        methods: {
            pack() {
                if (this.packed) {
                    swalert('确定要重新打包吗', 'warning', function () {
                        this.ajax()
                    }.bind(this))
                } else {
                    this.ajax()
                }
            },
            ajax() {
                axios.post(this.url
                ).then(function (response) {
                    this.packed = true
                    alert('打包成功', 'success')
                    this.name = response.data.name
                    this.version = response.data.version
                }.bind(this)).catch(function (error) {
                    alert('打包失败，请重试', 'error')
                }.bind(this));
            }
        }
    })
    $(function () {
        function ajax(btn) {
            axios.post(btn.data('url')
            ).then(function (response) {
                let data = response.data
                btn.parents('.project-actions').prev().text(data.deploy_version)
                console.log(response.data)
                btn.removeClass('deploy').addClass('re-deploy').find('span').text('重新部署')
                alert('部署成功', 'success')
            }).catch(function (error) {
                alert('部署失败，请稍后重试', 'error')
            })
        }

        $('#deploy-box').on('click', '.re-deploy', function () {
            let btn = $(this)
            swalert('确定要重新部署吗？', 'warning', function () {
                ajax(btn)
            })
        }).on('click', '.deploy', function () {
            ajax($(this))
        })
    })
</script>
{% endblock %}