{% extends 'public/wrap.html' %}

{% block 'main' %}
<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{ project.name }}
                    </h5>

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <p>
                        <i class="fa fa-magic"></i>
                        描述
                    </p>
                    <p>{{ project.description }}</p>

                    <p class="m-b-xs">
                        <i class="fa fa-clock-o"></i>
                        创建时间
                    </p>
                    <p>
                        {{ project.created_at }}
                    </p>
                </div>
            </div>
            <div class="ibox">
                <form class="form-horizontal" action="{% url 'project' project.id %}" method="post">

                    <div class="ibox-title">
                        <h5>基本信息</h5>
                        <div class="ibox-tools">
                            <input type="submit" class="btn btn-primary btn-xs" value="保存">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-sm">
                                    <div class="col-sm-12">
                                        <p>项目名称</p>
                                        <input type="text" class="form-control" name="name" placeholder="主机名"
                                               value="{{ project.name }}">
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <div class="col-sm-12">
                                        <p>项目描述</p>
                                        <textarea class="form-control" name="description" placeholder="描述">{{ project.description }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>打包生成</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-sm">
                                <div class="col-sm-12 text-center">
                                    <input type="button" class="btn btn-primary btn-sm" id="pack" value="打包"
                                           data-url="{% url 'project_pack' project.id %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="ibox animate">
                <form class="form-horizontal" action="{% url 'project' project.id %}" method="post">
                    <div class="ibox-title">
                        <h5>Spiders Class</h5>

                        <div class="ibox-tools">
                            <input type="submit" class="btn btn-primary btn-xs" value="保存">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <textarea id="spiders" name="spiders">{{ project.spiders }}</textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="ibox animate">
                <form class="form-horizontal" action="{% url 'project' project.id %}" method="post">
                    <div class="ibox-title">
                        <h5>Settings</h5>

                        <div class="ibox-tools">
                            <input type="submit" class="btn btn-primary btn-xs" value="保存">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <textarea id="settings" name="settings">{{ project.settings }}</textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="ibox animate">
                <form class="form-horizontal" action="{% url 'project' project.id %}" method="post">
                    <div class="ibox-title">
                        <h5>Items Class</h5>

                        <div class="ibox-tools">
                            <input type="submit" class="btn btn-primary btn-xs" value="保存">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <textarea id="items" name="items">{{ project.items }}</textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="ibox animate">
                <form class="form-horizontal" action="{% url 'project' project.id %}" method="post">
                    <div class="ibox-title">
                        <h5>Pipelines Class</h5>

                        <div class="ibox-tools">
                            <input type="submit" class="btn btn-primary btn-xs" value="保存">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <textarea id="pipelines" name="pipelines">{{ project.pipelines }}</textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% load static from staticfiles %}

<link rel="stylesheet" href="{% static '/css/codemirror.css' %}">
<link rel="stylesheet" href="{% static '/css/ambiance.css' %}">
<script src="{% static '/js/codemirror.js' %}"></script>
<script src="{% static '/js/codemirror.mode.js' %}"></script>
<script>
    $(function () {
        console.log('sdfsdf');
        let config = {
            lineNumbers: true,
            matchBrackets: true,
            styleActiveLine: true,
            tabSize: 4
        }
        let spiders = CodeMirror.fromTextArea(document.getElementById("spiders"), config)
        spiders.setSize('100%', '200px')
        let settings = CodeMirror.fromTextArea(document.getElementById("settings"), config)
        settings.setSize('100%', '200px')
        let items = CodeMirror.fromTextArea(document.getElementById("items"), config)
        items.setSize('100%', '200px')
        let pipelines = CodeMirror.fromTextArea(document.getElementById("pipelines"), config)
        pipelines.setSize('100%', '200px')
        $('#pack').on('click', function () {
            $.ajax({
                method: 'post',
                url: $(this).data('url'),
                success: function (data) {
                    console.log(data)
                }
            })
        })
    });
</script>
{% endblock %}