{% extends 'public/wrap.html' %}

{% block 'main' %}
<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>所有项目</h5>

                    <div class="ibox-tools">
                        <a data-toggle="modal" class="btn btn-primary btn-xs" href="#create-project">新建</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-1">
                            <button type="button" class="btn btn-white btn-sm btn-refresh"><i
                                    class="fa fa-refresh"></i> 刷新
                            </button>
                        </div>
                        <div class="col-md-11">
                            <div class="input-group">
                                <input type="text" placeholder="输入名称搜索" class="input-sm form-control"> <span
                                    class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> 搜索</button> </span>
                            </div>
                        </div>
                    </div>

                    <div class="project-list">
                        <table class="table table-hover">
                            <tbody>
                            {% for project in projects %}
                            <tr>
                                <td class="project-status">
                                    <span class="label label-primary">正常</span>
                                </td>
                                <td class="project-title">
                                    <small>
                                        {{ project.name }}
                                    </small>
                                </td>
                                <td class="project-completion">
                                    <small>
                                        {{ project.ip }}
                                    </small>
                                </td>
                                <td class="project-people">

                                </td>
                                <td class="project-actions">

                                    <a href="{% url 'project_edit' project.id %}"
                                       class="btn btn-primary btn-xs"><i
                                            class="fa fa-angle-double-right"></i> 编辑 </a>

                                    <a href="{% url 'project_deploy' project.id %}"
                                       class="btn btn-white btn-xs"><i
                                            class="fa fa-angle-double-right"></i> 部署 </a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="pagination pull-right">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="create-project" class="modal fade in" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 p-b-sm">
                        <h3 class="m-t-none m-b">创建项目</h3>
                        <div class="hr-line-dashed"></div>

                        <form role="form" method="post" action="{% url 'project_create' %}">
                            <div class="form-group form-group-sm">
                                <label class="control-label col-sm-2 m-t-xs">项目名</label>
                                <div class="col-sm-8">
                                    <input type="text" name="name" placeholder="爬虫项目名" class="form-control">
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-sm btn-primary" type="submit">
                                        创建
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}