{% extends 'public/wrap.html' %}

{% block 'main' %}
<div class="wrapper wrapper-content" id="manage-user-menu">
    <div class="row animated fadeInRight">
        <div class="col-sm-12">
            <div class="ibox animate">
                <div class="ibox-title">
                    <h5>添加类别</h5>

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            {!! Form::open(['url' => url('/manage/category'), 'class' => 'form-horizontal', 'id' =>
                            'category-form']) !!}
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">类别名称</label>

                                <div class="col-sm-6">
                                    {!! Form::text('name', null, ['class' => 'form-control', 'placeholder' => '类别名称'])
                                    !!}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="display_name" class="col-sm-2 control-label">显示名称</label>

                                <div class="col-sm-6">
                                    {!! Form::text('display_name', null, ['class' => 'form-control', 'placeholder' =>
                                    '显示名称']) !!}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-sm-2 control-label">类别描述</label>

                                <div class="col-sm-6">
                                    {!! Form::textarea('description', null, ['class' => 'form-control', 'placeholder' =>
                                    '类别描述']) !!}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-sm-2 control-label">分类图片</label>
                                <div class="col-md-3">
                                    {!! Form::file('upload', ['id' => 'category-banner-img', 'class' => 'uploadify'])
                                    !!}
                                    {!! Form::hidden('banner', null) !!}
                                    <img src="" class="pre-view"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="group" class="col-sm-2 control-label">类别分组</label>

                                <div class="col-sm-4">
                                    {!! Form::text('group', null, ['class' => 'form-control', 'placeholder' => '类别分组'])
                                    !!}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2">
                                    {!! Form::submit('提交', ['class' => 'btn btn-primary']) !!}
                                </div>
                            </div>
                            {!! Form::close() !!}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}