<div id="job-log" class="modal fade in" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 p-b-sm">
                        <div>
                            <h3 class="m-t-none m-b pull-left">日志</h3>
                            <button class="btn btn-primary btn-xs pull-right" id="job-log-refresh">刷新</button>
                        </div>
                        <div class="hr-line-dashed m-t-lg"></div>
                        <pre id="job-log-content">

                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>