<div id="job-log" class="modal fade in" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 p-b-sm">
                        <h3 class="m-t-none m-b">日志</h3>
                        <div class="hr-line-dashed"></div>
                        <pre id="job-log-content">

                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>