{% extends 'public/wrap.html' %}

{% block 'main' %}
<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{ client.name }}
                    </h5>

                    <div class="ibox-tools">
                        <span class="label label-{{ client.status.class }}">
                                                {{ client.status.text }}
                                            </span>
                    </div>
                </div>
                <div class="ibox-content">
                    <p>
                        <i class="fa fa-magic"></i>
                        地址
                    </p>
                    <p>{{ client.ip }}:{{ client.port }}</p>

                    <p class="m-b-xs">
                        <i class="fa fa-clock-o"></i>
                        创建时间
                    </p>
                    <p>
                        {{ client.created_at }}
                    </p>
                </div>
            </div>
            <div class="ibox">
                <form class="form-horizontal" action="{% url 'client' client.id %}" method="post">

                    <div class="ibox-title">
                        <h5>基本信息</h5>
                        <div class="ibox-tools">
                            <input type="submit" class="btn btn-primary btn-xs" value="保存">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-sm">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" name="name" placeholder="主机名"
                                               value="{{ client.name }}">
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" name="ip" placeholder="IP"
                                               value="{{ client.ip }}">
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" name="port" placeholder="IP"
                                               value="{{ client.port  }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-sm-9">
            <div class="ibox animate">
                <div class="ibox-title">

                    {% if client.status.class == 'danger' %}
                    <h5>连接错误，请检查主机配置</h5>
                    {% elif client.projects.length == 0 %}
                    <h5>无项目</h5>
                    {% else %}
                    <h5>所有爬虫项目</h5>
                    {% endif %}

                </div>
            </div>
            {% for project in client.projects %}
            <div class="ibox animate">
                <div class="ibox-title">

                    <h5>
                        <span class="label label-primary m-r-sm">Project {{ forloop.counter }}</span>
                        {{ project.name }}
                        <small>{{ project.jobs.node_name }}</small>
                    </h5>


                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content none">
                    <div class="row">
                        <div class="col-sm-12">
                            {% load attr %}
                            <table class="table table-hover m-b-none">
                                <tbody>
                                <tr>
                                    <td>状态</td>
                                    <td>爬虫名称</td>
                                    <td>运行时间</td>
                                    <td class="text-right">操作</td>
                                </tr>
                                {% for job in project.jobs %}
                                {% include 'client/job.html' %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}