{% extends 'public/wrap.html' %}

{% block 'main' %}
<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{ spider.name }}
                    </h5>

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <p>
                        <i class="fa fa-magic"></i>
                        描述
                    </p>
                    <p>{{ spider.description }}</p>

                    <p class="m-b-xs">
                        <i class="fa fa-clock-o"></i>
                        创建时间
                    </p>
                    <p>
                        {{ spider.created_at }}
                    </p>
                </div>
            </div>
            <div class="ibox">
                <form class="form-horizontal" action="{% url 'spider' spider.id %}" method="post">

                    <div class="ibox-title">
                        <h5>基本信息</h5>
                        <div class="ibox-tools">
                            <input type="submit" class="btn btn-primary btn-xs" value="保存">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-sm">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" name="name" placeholder="主机名"
                                               value="{{ spider.name }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="ibox animate">
                <form class="form-horizontal" action="{% url 'spider' spider.id %}" method="post">
                    <div class="ibox-title">
                        <h5>Spider Class</h5>

                        <div class="ibox-tools">
                            <input type="submit" class="btn btn-primary btn-xs" value="保存">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <textarea id="code" name="code">{{ spider.code }}</textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="ibox animate">
                <form class="form-horizontal" action="{% url 'spider' spider.id %}" method="post">
                    <div class="ibox-title">
                        <h5>Settings</h5>

                        <div class="ibox-tools">
                            <input type="submit" class="btn btn-primary btn-xs" value="保存">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <textarea id="settings" name="settings">{{ spider.settings }}</textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% load static from staticfiles %}

<link rel="stylesheet" href="{% static '/css/codemirror.css' %}">
<link rel="stylesheet" href="{% static '/css/ambiance.css' %}">
<script src="{% static '/js/codemirror.js' %}"></script>
<script src="{% static '/js/codemirror.mode.js' %}"></script>
<script>
    $(document).ready(function () {
        let config = {
            lineNumbers: true,
            matchBrackets: true,
            styleActiveLine: true,
            tabSize: 4
        }
        let code = CodeMirror.fromTextArea(document.getElementById("code"), config)
        code.setSize('100%', '200px')
        let settings = CodeMirror.fromTextArea(document.getElementById("settings"), config)
        code.setSize('100%', '200px')

    });
</script>
{% endblock %}